<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcits.validation.repo.FmChannelMapper">
    <resultMap id="BaseResultMap" type="com.dcits.validation.entity.FmChannel">
        <id column="CHANNEL" property="channel" jdbcType="VARCHAR" />
        <result column="COUNTER_FLAG" property="counterFlag" jdbcType="VARCHAR" />
        <result column="CHANNEL_TYPE" property="channelType" jdbcType="VARCHAR" />
        <result column="CHANNEL_SHORT" property="channelShort" jdbcType="VARCHAR" />
        <result column="TRAN_TIMESTAMP" property="tranTimestamp" jdbcType="VARCHAR" />
        <result column="COMPANY" property="company" jdbcType="VARCHAR" />
        <result column="CHANNEL_CLASS" property="channelClass" jdbcType="VARCHAR" />
        <result column="CHANNEL_DESC" property="channelDesc" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List">
        COUNTER_FLAG,        CHANNEL_TYPE,        CHANNEL_SHORT,        CHANNEL,        TRAN_TIMESTAMP,        COMPANY,        CHANNEL_CLASS,        CHANNEL_DESC    </sql>

    <select id="selectByExample" parameterType="com.dcits.validation.entity.FmChannelExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from FM_CHANNEL
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from FM_CHANNEL
        where CHANNEL = #{channel,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="map">
        delete from FM_CHANNEL
        where CHANNEL = #{channel,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByExample" parameterType="com.dcits.validation.entity.FmChannelExample">
        delete from FM_CHANNEL
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.dcits.validation.entity.FmChannel">
        insert into FM_CHANNEL
        (
            COUNTER_FLAG,            CHANNEL_TYPE,            CHANNEL_SHORT,            CHANNEL,            TRAN_TIMESTAMP,            COMPANY,            CHANNEL_CLASS,            CHANNEL_DESC        )
        values
        (
            #{counterFlag,jdbcType=VARCHAR},            #{channelType,jdbcType=VARCHAR},            #{channelShort,jdbcType=VARCHAR},            #{channel,jdbcType=VARCHAR},            #{tranTimestamp,jdbcType=VARCHAR},            #{company,jdbcType=VARCHAR},            #{channelClass,jdbcType=VARCHAR},            #{channelDesc,jdbcType=VARCHAR}        )
    </insert>

    <insert id="insertSelective" parameterType="com.dcits.validation.entity.FmChannel">
        insert into FM_CHANNEL
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="counterFlag != null">
                COUNTER_FLAG,
            </if>
            <if test="channelType != null">
                CHANNEL_TYPE,
            </if>
            <if test="channelShort != null">
                CHANNEL_SHORT,
            </if>
            <if test="channel != null">
                CHANNEL,
            </if>
            <if test="tranTimestamp != null">
                TRAN_TIMESTAMP,
            </if>
            <if test="company != null">
                COMPANY,
            </if>
            <if test="channelClass != null">
                CHANNEL_CLASS,
            </if>
            <if test="channelDesc != null">
                CHANNEL_DESC,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="counterFlag != null">
                #{counterFlag,jdbcType=VARCHAR},
            </if>
            <if test="channelType != null">
                #{channelType,jdbcType=VARCHAR},
            </if>
            <if test="channelShort != null">
                #{channelShort,jdbcType=VARCHAR},
            </if>
            <if test="channel != null">
                #{channel,jdbcType=VARCHAR},
            </if>
            <if test="tranTimestamp != null">
                #{tranTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="company != null">
                #{company,jdbcType=VARCHAR},
            </if>
            <if test="channelClass != null">
                #{channelClass,jdbcType=VARCHAR},
            </if>
            <if test="channelDesc != null">
                #{channelDesc,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.dcits.validation.entity.FmChannelExample" resultType="java.lang.Long">
        select count(*) from FM_CHANNEL
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map">
        update FM_CHANNEL
        <set>
            <if test="row.counterFlag != null">
                COUNTER_FLAG = #{row.counterFlag,jdbcType=VARCHAR},
            </if>
            <if test="row.channelType != null">
                CHANNEL_TYPE = #{row.channelType,jdbcType=VARCHAR},
            </if>
            <if test="row.channelShort != null">
                CHANNEL_SHORT = #{row.channelShort,jdbcType=VARCHAR},
            </if>
            <if test="row.channel != null">
                CHANNEL = #{row.channel,jdbcType=VARCHAR},
            </if>
            <if test="row.tranTimestamp != null">
                TRAN_TIMESTAMP = #{row.tranTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="row.company != null">
                COMPANY = #{row.company,jdbcType=VARCHAR},
            </if>
            <if test="row.channelClass != null">
                CHANNEL_CLASS = #{row.channelClass,jdbcType=VARCHAR},
            </if>
            <if test="row.channelDesc != null">
                CHANNEL_DESC = #{row.channelDesc,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map">
        update FM_CHANNEL
        set
            COUNTER_FLAG = #{row.counterFlag,jdbcType=VARCHAR},            CHANNEL_TYPE = #{row.channelType,jdbcType=VARCHAR},            CHANNEL_SHORT = #{row.channelShort,jdbcType=VARCHAR},            CHANNEL = #{row.channel,jdbcType=VARCHAR},            TRAN_TIMESTAMP = #{row.tranTimestamp,jdbcType=VARCHAR},            COMPANY = #{row.company,jdbcType=VARCHAR},            CHANNEL_CLASS = #{row.channelClass,jdbcType=VARCHAR},            CHANNEL_DESC = #{row.channelDesc,jdbcType=VARCHAR}        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.dcits.validation.entity.FmChannel">
        update FM_CHANNEL
        <set>
            <if test="counterFlag != null">
                COUNTER_FLAG = #{counterFlag,jdbcType=VARCHAR},
            </if>
            <if test="channelType != null">
                CHANNEL_TYPE = #{channelType,jdbcType=VARCHAR},
            </if>
            <if test="channelShort != null">
                CHANNEL_SHORT = #{channelShort,jdbcType=VARCHAR},
            </if>
            <if test="tranTimestamp != null">
                TRAN_TIMESTAMP = #{tranTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="company != null">
                COMPANY = #{company,jdbcType=VARCHAR},
            </if>
            <if test="channelClass != null">
                CHANNEL_CLASS = #{channelClass,jdbcType=VARCHAR},
            </if>
            <if test="channelDesc != null">
                CHANNEL_DESC = #{channelDesc,jdbcType=VARCHAR},
            </if>
        </set>
        where CHANNEL = #{channel,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.dcits.validation.entity.FmChannel">
        update FM_CHANNEL
        set
            COUNTER_FLAG = #{counterFlag,jdbcType=VARCHAR},            CHANNEL_TYPE = #{channelType,jdbcType=VARCHAR},            CHANNEL_SHORT = #{channelShort,jdbcType=VARCHAR},            TRAN_TIMESTAMP = #{tranTimestamp,jdbcType=VARCHAR},            COMPANY = #{company,jdbcType=VARCHAR},            CHANNEL_CLASS = #{channelClass,jdbcType=VARCHAR},            CHANNEL_DESC = #{channelDesc,jdbcType=VARCHAR}        where CHANNEL = #{channel,jdbcType=VARCHAR}
    </update>
</mapper>